body {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: white;
}

#statusBar, #gameContainer {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    width: 600px;
}

button, div {
    margin-bottom: 5px;
}

button {
    background-color: #ddd;
    border: 1px solid grey;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
}

button:hover {
    background-color: #bbb;
}
